{% extends "base_generic.html" %}
{%block page-title%}
  Password Reset
{%endblock%}
{% block content %}
    {% if validlink %}

        <form action="" method="post" class=" mx-0 row gx-3 gy-4 mt-3 ms-5">
        {% csrf_token %}
        <h4>
            Please enter (and confirm) your new password. 
        </h4>
        <div class="col-12">
            <h5><label for="new_password1" class="form-label">New password:</label><h5>
                {{ form.new_password1 }}
            <p> {{ form.new_password1.errors }}</p>
        </div>
        <div class="col-12">
            <h5><label for="new_password2" class="form-label">Confirm password:</label><h5>
                {{ form.new_password2 }}
                <p>{{ form.new_password2.errors }}</p>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-warning btn-lg me-5" value="Change my password">Change my password</button>
        </div>
        </form>
    {% else %}
        <div>
            <h2 class="mb-3 ms-4">Password reset failed</h2>
            <h4 class=" ms-5">The password reset link was invalid<h4> 
            <h4 class=" ms-5">possibly because it has already been used. </h4>
            <h4 class=" ms-5">Please request a new password reset.</h4>
        </div>
    {% endif %}
{% endblock %}
