{% extends "base_generic.html" %}

{% block content %}


<form action="" method="POST" class=" mx-0 row gx-3 gy-4 mt-3 ms-3 p-5 me-3" style="border: 5px gainsboro solid;">
  {% csrf_token %}
  <h3><b>Delete Course: ({{ course.courseTitle }})</b></h3>
  <p><b><span class="ms-5">Are you sure you want to delete the course?</span></b></p>
  <div class="col-12 d-flex align-items-center justify-content-center">
    <button type="submit" class="btn btn-danger btn-lg me-5">Delete</button>
    <a href="{% url 'course-detail' course.course_id%}" class="btn  btn-lg btn-primary">Close</a>
  </div>
</form>

{% endblock %} 
