{% extends "base_generic.html" %}
{%block page-title%}
  Create Course
{%endblock%}

{% block content %}
<form action="" method="post" class=" mx-0 row gx-3 gy-4 mt-3">
  {% csrf_token %}
  <div class="col-12">
    <label for="courseTitle" class="form-label">{{form.courseTitle.label}}<span style="color: red; font-weight: bolder;">*</span></label>
    {{form.courseTitle}}
  </div>
  <div class="col-12">
    <label for="description" class="form-label">{{form.description.label}}<span style="color: red; font-weight: bolder;">*</span></label>
    {{form.description}}
  </div>
  <div class="col-12">
    <label for="link" class="form-label">{{form.link.label}}<span style="color: red; font-weight: bolder;">*</span></label>
    {{form.link}}
  </div>
  <div class="col-12 d-flex align-items-center justify-content-center mb-4">
      <button type="submit" class="btn btn-primary btn-lg me-5">Create</button>  
      <a  href="{% url 'mycourses' %}" class="btn btn-lg btn-danger">Close</a>

  </div>

  </form>
{% endblock %} 