{% extends "base_generic.html" %}

{%block page-title%}
  Post Details
{%endblock%}
{% block content %}
<div class="list-group ms-4 w-75 mb-5" style="overflow-wrap: break-word;">
       <div class="list-group-item mb-2" style="border-width:10px;">
         <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
           <h5 class="mb-3" >Job Title</h5>
         </div>
         <p class="mb-1 p-3" >{{ Job_Post.job_title }}</p>
       </div>
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Company</h5>
              </div>
              <p class="mb-1 p-3" ><a href="{{Job_Post.company_id.get_absolute_url}}">{{ Job_Post.company_id }}</a></p>
       </div>  
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Description:</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.jobDescription }}</p>
       </div>  
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Work Hours:</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.workhours }}</p>     
       </div>
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Contact with Us on</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.contact }}</p>
       </div>
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >City</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.city }}</p>
       </div>
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Salary</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.salary }}</p>
       </div>
       <div class="list-group-item mb-2" style="border-width:10px;">
              <div class="d-flex w-100 pt-3 ps-3"style=" border-bottom: 2px black solid;">
                <h5 class="mb-3" >Added on</h5>
              </div>
              <p class="mb-1 p-3" >{{ Job_Post.added_date }}</p>
       </div>     
</div>
      {% if Job_Post.company_id_id == user.id%}
      <div class="mt-3 mb-3 w-75">
              <div style="margin-left:40% ;">
                <a href="{% url 'job_post-update' Job_Post.job_id%}" class="btn btn-primary me-3">Update</a>  
                <a href="{% url 'job_post-delete' Job_Post.job_id%}" class="btn btn-danger">Delete</a>
               </div>
       </div>   
       {% endif %}
{% endblock %}
  




